#define LSHIFT_MOD_MORPH (name, default, shifted) \
name: name { \
  compatible = "zmk,behavior-mod-morph"; \
  label = ZMK_MACRO_STRINGIFY(ZM_ ## name); \
  #binding-cells = <0>; \
  bindings = <&kp default>, <&kp shifted>; \
  mods = <(MOD_LSFT)>; \
};
