#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#include "./zmk-nodefree-config/helper.h"

#include "./helpers.h"
#include "./keys.h"

/* Layers */

#define ALPHA 0
#define SYM 1
#define NUM 2
#define FUN 3
#define MISC 4
#define GAMING 5
#define SECOND 6
#define THIRD 7

/* RDP Compatible Modifiers */

// Hold left Shift, hold right Shift, press a key, and then release all modifiers.
ZMK_BEHAVIOR(ls, macro_one_param, \
    bindings = \
        <&macro_press &kp LSHFT>, \
        <&macro_press &kp RSHFT>, \
        <&macro_param_1to1>, \
        <&macro_tap &kp MACRO_PLACEHOLDER>, \
        <&macro_wait_time 0>, \
        <&macro_release &kp RSHFT>, \
        <&macro_release &kp LSHFT>; \
)

// Hold left Control, hold right Alt, hold left Alt, press a key, and then release all modifiers.
ZMK_BEHAVIOR(ralt, macro_one_param, \
    bindings = \
        <&macro_press &kp LCTRL>, \
        <&macro_press &kp RALT>, \
        <&macro_press &kp LALT>, \
        <&macro_param_1to1>, \
        <&macro_tap &kp MACRO_PLACEHOLDER>, \
        <&macro_wait_time 0>, \
        <&macro_release &kp LALT>, \
        <&macro_release &kp RALT>, \
        <&macro_release &kp LCTRL>; \
)

/* Home Row Mods */

// Left-hand side home row mod. The prefix `hl` somewhat stands for "home row mod on the left side".
MAKE_HRM(hl, &kp, &kp, RIGHT_SIDE_KEYS THUMB_KEYS)
MAKE_HRM(hls, &kp, &ls, RIGHT_SIDE_KEYS THUMB_KEYS) // With Shift
// MAKE_HRM(hla, &kp, &ralt, RIGHT_SIDE_KEYS THUMB_KEYS) // With Alt Gr

// Right-hand side home row mod. The prefix `hr` somewhat stands for "home row mod on the right side".
MAKE_HRM(hr, &kp, &kp, LEFT_SIDE_KEYS THUMB_KEYS)
MAKE_HRM(hrs, &kp, &ls, LEFT_SIDE_KEYS THUMB_KEYS) // With Shift
MAKE_HRM(hra, &kp, &ralt, LEFT_SIDE_KEYS THUMB_KEYS) // With Alt Gr

/* Utilities */

// Press a key and then press the spacebar.
ZMK_BEHAVIOR(spaced, macro_one_param, \
    bindings = \
        <&macro_param_1to1>, \
        <&macro_tap &kp MACRO_PLACEHOLDER>, \
        <&macro_tap &kp SPACE>; \
)

/* Bluetooth */

// Select a Bluetooth profile, or clear it when held.
ZMK_HELD(bt_0, &bt BT_SEL 0, &bt BT_SEL 0 &bt BT_CLR)
ZMK_HELD(bt_1, &bt BT_SEL 1, &bt BT_SEL 1 &bt BT_CLR)
ZMK_HELD(bt_2, &bt BT_SEL 2, &bt BT_SEL 2 &bt BT_CLR)
ZMK_HELD(bt_3, &bt BT_SEL 3, &bt BT_SEL 3 &bt BT_CLR)
ZMK_HELD(bt_4, &bt BT_SEL 4, &bt BT_SEL 4 &bt BT_CLR)

/* Misc */

ZMK_BEHAVIOR(parentheses, mod_morph, \
    mods = <(MOD_LSFT|MOD_RSFT)>; \
    keep-mods = <(MOD_LSFT|MOD_RSFT)>; \
    bindings = \
        <&ls N9>, \
        <&kp N0>; \
)

ZMK_BEHAVIOR(moded_shift, mod_morph, \
    mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI)>; \
    keep-mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI)>; \
    bindings = <XXX>, <&kp LSHFT>; \
)

/* Layers */

ZMK_LAYER(Alpha,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮          ╭─────────────┬─────────────┬─────────────┬─────────────┬─ - ─────────┬─ ? ─────────╮
    &kp ESC       &kp Q         &kp W         &kp F         &kp P         &kp B                    &kp J         &kp L         &kp U         &kp Y         &kp MINUS     &ls N6
//├─ « ─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼ ; ──────────┤
    &kp NUBS      &hl LGUI A    &hl LALT R    &hl LCTRL S   &hl LSHFT T   &kp G                    &kp M         &hr RSHFT N   &hr RCTRL E   &hr LALT I    &hr RGUI O    &kp SEMI
//├─ () ────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─ , ─────────┼─ . ─────────┼─ " ─────────┼─ ! ─────────┤
    &parentheses  &kp Z         &kp X         &kp C         &kp D         &kp V                    &kp K         &kp H         &kp COMMA     &kp DOT       &ls N2        &ls N1
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┴───────────────────────────╯
                                              &mo FUN       &lt MISC TAB  &lt SYM SPACE            &lt SYM ENTER &lt NUM BSPC  &kp DEL
//                                          ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(Symbols,
//╭─────────────┬─ ' ─────────┬─ < ─────────┬─ > ─────────┬─ " ─────────┬─ ` ─────────╮          ╭─ & ─────────┬─ : ─────────┬─ ( ─────────┬─ ) ─────────┬─ % ─────────┬─────────────╮
    XXX           &ls LT        &kp BSLH      &ls BSLH      &ls N2        &spaced SQT              &ls N7        &ls SEMI      &ls N9        &ls N0        &ls N5        XXX
//├─────────────┼─ ! ─────────┼─ - ─────────┼─ + ─────────┼─ = ─────────┼─ @ ─────────┤          ├─ | ─────────┼─ ; ─────────┼─ { ─────────┼─ } ─────────┼─ ? ─────────┼─────────────┤
    XXX           &hls LGUI N1  &hl LALT MINUS&hls LCTRL EQUAL&hl LSHFT EQUAL&ralt N2              &ls GRAVE     &hr LSHFT SEMI&hra LCTRL SQT&hra LALT BSLH&hrs LGUI N6  XXX
//├─────────────┼─ ^ ─────────┼─ / ─────────┼─ * ─────────┼─ \ ─────────┼─ _ ─────────┤          ├─ ~ ─────────┼─ $ ─────────┼─ [ ─────────┼─ ] ─────────┼─ # ─────────┼─────────────┤
    XXX           &spaced LBKT  &ls N3        &ls N8        &ralt GRAVE   &ls MINUS                &ralt SEMI    &ls N4        &ralt LBKT    &ralt RBKT    &kp GRAVE     XXX
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┴───────────────────────────╯
                                              XXX           XXX           XXX                      XXX           XXX           XXX
//                                          ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(Numbers,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           XXX           &kp N7        &kp N8        &kp N9        XXX                      XXX           XXX           XXX           XXX           XXX           XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           XXX           &kp N4        &kp N5        &kp N6        XXX                      XXX           &moded_shift  &kp LCTRL     &kp LALT      &kp LGUI      XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           XXX           &kp N1        &kp N2        &kp N3        XXX                      XXX           XXX           XXX           XXX           XXX           XXX
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┴───────────────────────────╯
                                              &kp COMMA     &kp DOT       &kp N0                   XXX           XXX           XXX
//                                          ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(Fn,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           &kp F12       &kp F7        &kp F8        &kp F9        &kp F14                  XXX           XXX           XXX           XXX           XXX           XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &kp F11       &kp F4        &kp F5        &kp F6        &kp F13                  XXX           XXX           XXX           XXX           XXX           XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//  XXX           &kp F10       &kp F1        &kp F2        &kp F3        XXX                      &bt_0         &bt_1         &bt_2         &bt_3         &bt_4         XXX
    XXX           &kp F10       &kp F1        &kp F2        &kp F3        XXX                      XXX           XXX           XXX           XXX           XXX           XXX
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┴───────────────────────────╯
                                              XXX           XXX           XXX                      XXX           XXX           &tog GAMING
//                                          ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(Misc,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮          ╭─ ¨ ─────────┬─ ` ─────────┬─ é ─────────┬─ ^ ─────────┬─ ¸ ─────────┬─────────────╮
    XXX           XXX           XXX           XXX           XXX           XXX                      &ls RBKT      &kp SQT       &kp FSLH      &kp LBKT      &kp RBKT      XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     XXX                      XXX           &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           XXX           XXX           XXX           XXX           XXX                      XXX           XXX           XXX           XXX           XXX           XXX
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┴───────────────────────────╯
                                              XXX           XXX           XXX                      XXX           XXX           XXX
//                                          ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(Gaming,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp ESC       &kp TAB       &kp Q         &kp W         &kp E         &kp R                    &kp Y         &kp U         &kp I         &kp O         &kp P         XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &kp LSHFT     &kp A         &kp S         &kp D         &kp F                    &kp H         &kp J         &kp K         &kp L         &kp SEMI      XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─ é ─────────┼─────────────┤
    &kp LALT      &kp LCTRL     &kp Z         &kp X         &kp C         &kp V                    &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      XXX
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┴───────────────────────────╯
                                              &mo THIRD     &mo SECOND    &kp SPACE                &kp ENTER     &kp BSPC      &kp DEL
//                                          ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(Second,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp N7        &kp N0        &kp N1        ___           &kp N2        &kp T                    ___           ___           ___           ___           ___           ___
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp N6        &kp N9        &kp N3        ___           &kp N4        &kp G                    ___           &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     ___
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp N5        &kp N8        ___           ___           ___           &kp B                    ___           ___           ___           ___           ___           ___
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              ___           ___           ___                      ___           ___           ___
//                                          ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(Third,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp LGUI      &kp F12       &kp F7        &kp F8        &kp F9        &kp F14                  ___           ___           ___           ___           ___           ___
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           &kp F11       &kp F4        &kp F5        &kp F6        &kp F13                  ___           ___           ___           ___           ___           ___
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           &kp F10       &kp F1        &kp F2        &kp F3        ___                      ___           ___           ___           ___           ___           ___
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              ___           ___           ___                      ___           ___           &tog GAMING
//                                          ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯
)
